<!DOCTYPE html>
<html>
<head>
    <title>Reservation Success</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入自定义 CSS -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mt-5">預約成功</h1>
        <p class=" mt-3">謝謝您預約，我們將盡快與您連絡。</p>
        <a href="{% url 'make_reservation' %}" class="btn btn-primary btn-lg">回首頁</a>
    </div>
<!-- 引入 Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>