<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .register-container {
            margin-top: 50px;
        }
        .card {
            border-radius: 10px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                window.location.href = "{% url 'product_list' %}";
            }, 800);  // 1秒後自動跳轉到首頁
        });
    </script>
</head>
<body>
    <div class="container home-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-header text-center">
                    <h2>Student Home</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Welcome to Student Home page</p>
                </div>
                <form method="post" action="{% url 'product_list' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">Home</button>
                </form>
            </div>

        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>